body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.logo span {
  color: goldenrod;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.nav-links a:hover {
  color: goldenrod;
}

.call-btn {
  background: goldenrod;
  padding: 8px 15px;
  border-radius: 20px;
  color: white !important;
}

/* Mobile */
.menu-toggle {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.mobile-menu a {
  padding: 10px 0;
  text-decoration: none;
  color: #555;
}


/* HERO */
.services-hero {
  margin-top: 60px;
  padding: 100px 20px;
  background: #111;
  color: #fff;
  text-align: center;
}

.services-hero h1 {
  font-size: 40px;
}

/* SERVICES */
.services-page {
  padding: 80px 20px;
}

.services-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

/* CARD */
.service-card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.service-card i {
  font-size: 30px;
  color: goldenrod;
  margin-bottom: 10px;
}

.service-card:hover {
  transform: translateY(-8px);
}

/* CTA */
.cta-section {
  border-bottom: 1px solid #555;
  padding: 80px 20px;
  background: #111;
  color: #fff;
  text-align: center;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  background: goldenrod;
  padding: 12px 25px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-hero h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

}

.mobile-menu.show {
  display: flex;
}



/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  padding: 80px 20px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Column */
.footer-col h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-col h3 span {
  color: goldenrod;
}

.footer-col p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.6;
}

/* Items */
.footer-item {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.footer-item i {
  color: goldenrod;
  align-self:flex-start;
  padding-top: 17px;
}

.footer-item .title {
  font-weight: bold;
  font-size: 14px;
}

.footer-item a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

.footer-item a:hover {
  color: goldenrod;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom p {
  font-size: 13px;
  color: #888;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-item {
    justify-content: center;
  }
}